@media screen and (min-width: 300px) {
  .section {
    margin-left: 1px;
  }

  .section-title {
    font-family: var(--Main-font);
    font-weight: 200;
    color: var(--touchColor);
  }

  /* .film-card {
    display: block;
    margin: 20px;
    background-color: var(--Button-bgColor);
    border-radius: 14px;
    padding: 2px;
  } */

  .film-card h4,
  .film-card p {
    font-family: var(--Main-font);
    font-weight: 200;
    color: var(--off-white);
    letter-spacing: 0.02em;
    padding-left: 10px;
  }
  .film-card p {
    font-size: 14px;
  }

  .serie-card {
    display: block;
    margin: 20px;
    border-radius: 14px;
    padding: 2px;
  }

  .serie-card h4,
  .serie-card p {
    font-family: var(--Main-font);
    font-weight: 200;
    color: var(--off-white);
    letter-spacing: 0.02em;
    padding-left: 10px;
  }

  .serie-card p {
    font-size: 14px;
  }
  .catalog {
    width: 100%;
    height: auto;
  }

  .section img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .genre-container {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-weight: 700;
    font-size: 42px;
    margin-left: 10px;
  }
  .genre-container {
    margin-bottom: 1%;
  }

  .genre-container h3 {
    font-size: 32px;
    font-family: var(--Main-font);
    margin-left: 0;
  }
  .film-card {
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 300px;
    margin: 20px;
    border-radius: 12px;
    z-index: 1;
  }
  .film-card:hover {
    transform: scale(1.1);
    margin: 40px;
  }

  .film-img img {
    width: 270px;
    height: 150px;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .film-info {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    color: var(--off-white) f;
    z-index: -1;
    transition: top 0.5s ease;
  }

  .film-card:hover .film-info {
    top: 53%;
  }

  .film-card:hover .film-img img {
    transform: scale(1.1);
  }

  .film-info p {
    font-size: 16px;
    margin-left: 1rem;
  }

  .rating-icon {
    display: inline-block;
    margin-left: 3rem;
    vertical-align: middle;
  }

  /*Series Cards*/

  .serie-card {
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 300px;
    margin: 20px;
    border-radius: 12px;
    z-index: 1;
  }
  .serie-card:hover {
    transform: scale(1.1);
    margin: 40px;
  }

  .serie-img img {
    width: 270px;
    height: 150px;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .serie-info {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    color: var(--off-white) f;
    z-index: -1;
    transition: top 0.5s ease;
  }

  .serie-card:hover .serie-info {
    top: 53%;
  }

  .serie-card:hover .serie-img img {
    transform: scale(1.1);
  }

  .serie-info p {
    font-size: 16px;
    margin-left: 0.5rem;
  }
  .rating-icon-s {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
  }

  .carousel {
    display: flex;
    flex-direction: row;
  }

  .catalog {
    width: 100%;
    height: auto;
  }
}
