@media screen and (min-width: 300px) {
  .navContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    background-color: transparent;
    margin-bottom: 200px;
  }

  #navTop li {
    display: flex;
    float: left;
    position: relative;
    transform: translateX(-50%);
    margin-right: 4px;
    list-style-type: none;
    margin-top: 2%;
  }

  .nav-top a {
    background-color: var(--Button-bgColor);
    border-radius: 12px;
    color: var(--off-white);
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-family: var(--Main-font);
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  .nav-top svg {
    width: 1.2em;
    height: 1.2em;
  }

  .nav-top a:hover {
    border: 1px solid var(--touchColor);
    border-radius: 12px;
  }

  #navTop a.active {
    background-image: linear-gradient(
      to right,
      #ff005f 0%,
      #610979 41%,
      #020024 100%
    );
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    display: inline-block;
    border-radius: 12px;
    color: var(--Button-bgColor);
  }
}

@media screen and (min-width: 1200px) {
  .navContainer {
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-bottom: 100px;
  }

  #navTop li {
    float: left;
    align-items: flex-start;
    left: 1100px;
    margin-right: 180px;
    margin-top: 1%;
  }

  .nav-top a {
    padding: 5px 55px;
    font-weight: 400;
    font-size: 16px;
    position: fixed;
    z-index: 5;
  }

  .nav-top svg {
    width: 1.5em;
    height: 1.5em;
  }

  #navTop a.active {
    background-image: linear-gradient(
      to bottom right,
      #ff005f 0%,
      #610979 50%,
      #020024 90%
    );
    margin: 10px;
    padding: 5px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    border-radius: 12px;
    color: var(--Button-bgColor);
  }
}
