@media screen and (min-width: 300px) {
  header {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 100px;
    width: 100%;
    height: auto;
    background-color: var(--Button-bgColor);
  }

  #p5-staticTV {
    grid-column: 1;
    position: relative;
    transform: translateY(15%);
    width: 100%;
  }

  #side-nav li {
    grid-column: 2;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(-70%);
    padding-right: 25px;
    padding-top: 15px;
  }

  .sideNav a {
    background-color: transparent;
    color: var(--off-white);
  }

  .sideNav svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }

  .sideNav svg:hover {
    color: #ff005f;
    transform: scale(1.3);
  }
}

@media screen and (min-width: 400px) {
  #side-nav li {
    grid-column: 2;
    float: left;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-right: 15px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 700px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr;
    width: 100%;
    height: 100%;
  }

  #p5-staticTV {
    grid-row: 1;

    position: relative;
    transform: translate(-10%, 40%);
    z-index: 3;
  }

  #side-nav li {
    position: relative;
    transform: translate(0%, 100%);
    float: none;
    list-style-type: none;
    width: 45px;
    height: 45px;
    padding-top: 90px;
  }
  .sideNav a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px 10px;
    background-image: linear-gradient(
      to bottom right,
      #ff005f 0%,
      #610979 30%,
      #020024 90%
    );
  }

  .sideNav svg {
    width: 1.1em;
    height: 1.1em;
    color: var(--off-white);
    vertical-align: middle;
  }
  .sideNav svg:hover {
    color: var(--Button-bgColor);
  }

  .sideNav a:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1200px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
  }

  #p5-staticTV {
    grid-row: 1;
    position: relative;
    bottom: 50px;
    transform: translateX(-1%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  #side-nav li {
    float: none;
    position: relative;
    transform: translateY(80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    width: 55px;
    height: 55px;
    padding-top: 80px;
  }

  .sideNav a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12px 12px;
    background-image: linear-gradient(
      to bottom right,
      #ff005f 0%,
      #610979 50%,
      #020024 100%
    );
  }

  .sideNav svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    color: var(--off-white);
  }

  .sideNav a:hover {
    transform: scale(1.3);
  }

  #side-nav a.active {
    background-color: var(--off-white);
  }
}
