@media screen and (min-width: 300px) {
  .navContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: transparent;
    margin-bottom: 5rem;
  }

  #navTop li {
    position: relative;
    left: 40%;
    display: flex;
    justify-content: end;
    position: relative;
    margin-right: 15px;
    list-style-type: none;
    margin-top: 2%;
  }

  .nav-top a {
    background-color: var(--Button-bgColor);
    border-radius: 12px;
    color: var(--off-white);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: var(--Main-font);
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1.5px;
  }

  .nav-top svg {
    position: relative;
    top: 10%;
    width: 1.2em;
    height: 1.2em;
  }

  .nav-top a:hover {
    border: 1px solid var(--touchColor);
    border-radius: 12px;
  }

  #navTop a.active {
    background-image: linear-gradient(
      to right,
      #ff005f 0%,
      #610979 61%,
      #020024 100%
    );
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    border-radius: 12px;
    color: var(--Button-bgColor);
  }
}

@media screen and (min-width: 400px) {
  .navContainer {
    margin-bottom: 3rem;
  }

  #navTop li {
    align-items: center;
    position: relative;
    transform: translateX(-40%);
    margin-right: 9px;
    list-style-type: none;
    margin-top: 2%;
  }

  .nav-top a {
    padding: 10px 10px;
    font-weight: 300;
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .navContainer {
    margin-bottom: 3rem;
  }

  #navTop li {
    position: relative;
    transform: translateX(30%);
    margin-right: 40px;
    margin-top: 10%;
  }

  .nav-top a {
    padding: 10px 10px;
    font-weight: 300;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .navContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    position: relative;
    right: 15%;
  }

  #navTop li {
    float: left;
    display: flex;
    align-items: center;
    margin-top: 1%;
  }

  .nav-top a {
    text-align: center;
    padding: 14px 55px;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    z-index: 5;
  }

  .nav-top svg {
    position: relative;
    top: 20%;
    width: 2em;
    height: 2em;
  }

  #navTop a.active {
    margin: 10px;
    padding: 14px 45px;
  }

}
