@media screen and (min-width: 300px) {
  #p5-container {
    grid-row: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 700px) {
  #p5-container {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  #p5-container {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  #p5-container {
    margin-top: 2rem;
  }
}
