@media screen and (min-width: 300px) {
  .results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Button-bgColor);
    padding: 1rem;
  }

  .film-card,
  .serie-card {
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 180px;
    margin: 2px;
    border-radius: 12px;
    z-index: 1;
  }

  .film-img img,
  .serie-img img {
    object-fit: cover;
    width: 240px;
    height: 130px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .serie-info p {
    font-size: 18px;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 700px) {
  #by-genre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  .results-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--Button-bgColor);
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* padding: 0.5rem; */
  }
  #film-container,
  #series-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .film-card,
  .serie-card {
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 180px;
    margin: 2px;
    border-radius: 12px;
    z-index: 1;
    padding: 3px;
  }

  .film-img img,
  .serie-img img {
    object-fit: cover;
    width: 240px;
    height: 130px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .serie-info p {
    font-size: 18px;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  #by-genre {
    margin-top: 18rem;
  }
}
@media screen and (min-width: 1200px) {
  #by-genre {
    margin-top: 15rem;
  }
  .results-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--Button-bgColor);
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* padding: 0.5rem; */
  }
  #film-container,
  #series-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .section-title {
    font-weight: 700;
    font-size: 38px;
  }

  .results-container {
    width: 100%;
    max-width: 1500px;
  }

  .film-card,
  .serie-card {
    position: relative;
    overflow: hidden;
    transform: translateX(0%);
    width: 270px;
    height: 300px;
    margin: 20px;
    padding: 2px;
    border-radius: 12px;
    z-index: 1;
  }

  .filmCard:hover,
  .serieCard:hover {
    transform: scale(1.1);
    margin: 40px;
  }

  .film-img img,
  .serie-img img {
    width: 270px;
    height: 150px;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .film-info,
  .serie-info {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--B);
    border-radius: 12px;
    color: var(--off-white) f;
    z-index: -1;
    transition: top 0.5s ease;
  }

  .film-card:hover .film-info,
  .serie-card:hover .series-info {
    top: 53%;
  }

  .film-card:hover .film-img img,
  .serie-card:hover .series-img img {
    transform: scale(1.1);
  }

  .film-card h4,
  .film-card p,
  .serie-info h4,
  .serie-info p {
    font-family: var(--Main-font);
    color: var(--off-white);
    letter-spacing: 0.04em;
    padding-left: 10px;
  }

  .film-info p,
  .serie-info p {
    font-size: 16px;
    /* margin-left: 1rem; */
  }

  .rating-icon {
    display: inline-block;
    /* margin-left: 3rem; */
    vertical-align: middle;
  }

  .rating-icon-s {
    display: inline-block;
    /* margin-left: 1rem; */
    vertical-align: middle;
  }
}
