@media screen and (min-width: 300px) {
  .search-main-container {
    margin-bottom: 10px;
    text-align: center;
    font-family: var(--Main-font);
  }

  .search {
    display: inline-block;
    width: 100%;
  }

  #search-input {
    width: 80%;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    border: 1px solid var(--off-white);
    outline: none;
    color: var(--off-white);
    background-color: transparent;
    font-family: var(--Main-font);
  }
}
@media screen and (min-width: 1200px) {
  #search-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }
  #search-main-container h2 {
    display: flex;
    position: relative;
    right: 5%;
    transform: translateX(-5%);
    justify-content: center;
    font-size: 38px;
    font-weight: 500;
    color: var(--off-white);
    font-family: var(--Main-font);
    padding-bottom: 5%;
  }

  .search {
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  #search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 900px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    border: 1px solid var(--off-white);
    outline: none;
    color: var(--off-white);
    background-color: transparent;
    font-family: var(--Main-font);
  }
}
